@use "@colors" as colors;
@use "@spacing" as spacing;

.expandableButton {
  border: none;
  cursor: pointer;
  width: min-content;
  border-radius: 0.5rem;
  background-color: colors.$alabaster;
  padding: spacing.$default-box-spacing;
}
