@use "sass:map";
@use "@fonts" as fonts;
@use "@colors" as colors;
@use "@spacing" as spacing;

.matchCard {
  display: grid;
  padding: map.get(spacing.$vertical-spacing, "xxl")
    map.get(spacing.$horizontal-spacing, "xxl");
  width: 100%;
  height: min-content;
  grid-auto-flow: row;
  border-radius: 0.5rem;
  row-gap: spacing.$default-vertical-spacing;
  background-color: colors.$light-background;
}

.detailsContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  column-gap: map.get(spacing.$horizontal-spacing, "l");
  & span {
    color: black;
  }
}
.dogIntro {
  display: grid;
  @include fonts.bodyFont("m", "medium");
  color: black;
}

.imageContainer {
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  height: 500px;
  width: 100%;
  box-shadow: colors.$box-shadow;
  background-color: colors.$button;
}

.loadingRings {
  align-self: center;
  justify-self: center;
  & * {
    stroke: colors.$mineral-green;
  }
  height: 4rem;
  width: 4rem;
}

.name {
  @include fonts.headingFont("5", "semiBold");
  color: colors.$ebony-clay;
}
