@use "sass:map";
@use "@fonts" as fonts;
@use "@colors" as colors;
@use "@spacing" as spacing;

.matchCard {
  display: grid;
  padding: spacing.$default-box-spacing;
  width: 100%;
  height: min-content;
  grid-auto-flow: row;
  row-gap: spacing.$default-vertical-spacing;
}

.detailsContainer {
  display: flex;
  justify-content: center;
  column-gap: map.get(spacing.$horizontal-spacing, "l");
  & span {
    color: colors.$alabaster;
  }
}
.dogIntro {
  @include fonts.bodyFont("m", "medium");
  color: colors.$alabaster;
}

.imageContainer {
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  height: 500px;
  width: 100%;
}
