@use "@spacing" as spacing;
@use "sass:map";
@use "@responsive" as responsive;

.dogSearchContainer {
  display: grid;
  grid-template-columns: inherit;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  display: grid;
}

.chatContainer {
  grid-column: 1/4;
  height: 100%;
  padding: map.get(spacing.$vertical-spacing, "xxl")
    map.get(spacing.$horizontal-spacing, "xxl");
  display: grid;
}

@include responsive.breakpoint("1750px", "max") {
  .chatContainer {
    padding: map.get(spacing.$vertical-spacing, "s")
      map.get(spacing.$horizontal-spacing, "s");
  }
}

@include responsive.breakpoint("1250px", "max") {
  .chatContainer {
    display: none;
  }
}
