@use "@colors" as colors;
@use "@fonts" as fonts;
@use "@spacing" as spacing;

.filterIconContainer {
  position: relative;

  &.active {
    &:hover {
      cursor: pointer;
    }
    .filterIcon path {
      stroke: colors.$mineral-green;
    }
  }
}

.filterCounter {
  background-color: colors.$mineral-green;
  box-shadow: 0 0 0 2px white;
  position: absolute;
  display: grid;
  place-items: center;
  top: -0.5rem;
  left: -0.5rem;
  height: 1rem;
  width: 1rem;
  border-radius: 999px;
  @include fonts.bodyFont("s", "semiBold");
  color: white;
}
