@use "@colors" as colors;
@use "@spacing" as spacing;
@use "@fonts" as fonts;
.dogSearch {
  grid-column: 3/10;
  height: 100%;
  width: 100%;
  padding: spacing.$default-box-spacing;
}

.cardGrid {
  padding: spacing.$default-box-spacing;
  grid-column: 3/10;
  width: 100%;
  height: 100%;
  display: grid;
  column-gap: spacing.$default-horizontal-spacing;
  row-gap: spacing.$default-vertical-spacing;
  grid-template-columns: repeat(5, 1fr);
}

.paginationContainer {
  display: grid;
  place-items: center;
  padding: spacing.$default-box-spacing;
  height: min-content;
  width: 100%;
}

.searchHeader {
  display: flex;
  justify-content: space-between;
}

.sortIcon {
  cursor: pointer;
  path:first-of-type {
    fill: colors.$nevada;
  }

  &.descending {
    path {
      fill: colors.$alabaster;
      &:last-of-type {
        fill: colors.$nevada;
      }
    }
  }
}
