@use "@colors" as colors;
@use "@responsive" as responsive;
@use "@spacing" as spacing;
@use "@fonts" as fonts;
.dogSearch {
  grid-column: 4/10;
  height: 100%;
  width: 100%;
  padding: spacing.$default-box-spacing;
}
.rings {
  align-self: center;
  justify-self: center;
  height: 10rem;
  width: 10rem;
}

.cardGrid {
  padding: spacing.$default-box-spacing;
  grid-column: 3/10;
  width: 100%;
  height: min-content;
  align-content: flex-start;
  display: grid;
  column-gap: spacing.$default-horizontal-spacing;
  row-gap: spacing.$default-vertical-spacing;
  grid-template-columns: repeat(5, 1fr);
}

.paginationContainer {
  display: grid;
  place-items: center;
  padding: spacing.$default-box-spacing;
  height: min-content;
  width: 100%;
}

.searchHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid colors.$manatee;
}

.sortIcon {
  overflow: visible;
  cursor: pointer;
  fill: colors.$storm-gray;

  &.ascending path:first-of-type {
    fill: colors.$alabaster;
  }

  &.descending path:last-of-type {
    fill: colors.$alabaster;
  }
}

.findAMatchButton {
  @include fonts.bodyFont("l", "medium");
  color: colors.$alabaster;
  box-shadow: colors.$box-shadow;
}

@include responsive.breakpoint("1800px", "min") {
  .cardGrid {
    grid-column: 4/11;
  }
}
